<footer class="footer-bar p-t-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><a href="#" class="brand align-middle">
                <img src="assets/img/temp/NHSIdeasLabLogo-website.png" alt="Logo">
                <span class="circle"></span>
            </a>
            </div>
            <div class="col-md-4 p-t-80">
                <h6>Policies</h6>
                <ul class="footer-links">
                     <li><a href="termsandconditions.html">Terms and Conditions</a>
                    </li>
                    <li><a href="privacypolicy.html">Privacy Policy</a>
                    </li>
                    <li><a href="codeofconduct.html">Code of Conduct</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 p-t-80">
                <h6>Connect</h6>
                <ul class="social">
                    <li class="twitter"><a href="#"><i class="icon icon-twitter"></i></a>
                    </li>
                    <li class="facebook"><a href="#"><i class="icon icon-facebook"></i></a>
                    </li>
                    <li class="linkedin"><a href="#"><i class="icon icon-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row paper-white">
        <div class="col-md-6 text-left">
            <p>UK/OTH-171112 Date of preparation: October 2017</p>
        </div> 
        <div class="col-6 text-right">
            <p>&#xA9; 2017 Open Health Works Ltd. Source published under <a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="new">GPL v3</a></p>
        </div>
    </div>
</footer>
<!-- partial:_foot.html -->
<!-- partial -->