<!-- Login modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog width-400" role="document">
        <div class="modal-content no-r "><a href="#" data-dismiss="modal" aria-label="Close"
                                            class="paper-nav-toggle active"><i></i></a>
            <div
                    class="modal-body no-p">
                <div class="text-center p-40 p-b-0">
                    <img src="assets/img/dummy/u4.png" alt="">
                    <h3>Welcome Back</h3>
                    <p class="p-t-b-20">Hey Soldier welcome back signin now there is lot of new stuff waiting
                        for you</p>
                </div>
                <div class="light p-40 b-t-b">
                    <form action="dashboard2.html">
                        <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                            <input type="text" class="form-control form-control-lg"
                                   placeholder="Email Address">
                        </div>
                        <div class="form-group has-icon"><i class="icon-user-secret"></i>
                            <input type="text" class="form-control form-control-lg"
                                   placeholder="Password">
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Log In">
                        <small class="forget-pass">Have you forgot your username or password ?</small>
                    </form>
                </div>
                <div class="p-40"><a href="#" class="btn btn-lg btn-block btn-social facebook">
                    <i class="icon-facebook"></i> Login with Facebook
                </a>
                    <a href="#" class="btn btn-lg btn-block btn-social twitter">

                        <i class="icon-twitter"></i> Login with Twitter

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SignUp modal -->
<div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content no-r "><a href="#" data-dismiss="modal" aria-label="Close"
                                            class="paper-nav-toggle active"><i></i></a>
            <div
                    class="modal-body no-p">
                <div class="row">
                    <div class="col-lg-5 grid">
                        <div class="p-40">
                            <h5 class="p-t-40">Sign Up Using Social Account</h5>
                            <p class="p-t-b-20">Hey Soldier welcome back signin now there is lot of new stuff waiting
                                for you</p> <a href="#" class="btn btn-lg btn-block btn-social facebook">
                            <i class="icon-facebook"></i> Login with Facebook
                        </a>
                            <a href="#" class="btn btn-lg btn-block btn-social twitter">

                                <i class="icon-twitter"></i> Login with Twitter

                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="light p-t-b-40">
                            <div class="p-40">
                                <h5 class="p-b-20">Create New User Account</h5>
                                <form action="dashboard2.html ">
                                    <div class="form-group has-icon"><i class="icon-user-circle"></i>
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Your Name">
                                    </div>
                                    <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Email Address">
                                    </div>
                                    <div class="form-group has-icon"><i class="icon-user-secret"></i>
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Password">
                                    </div>
                                    <div class="form-group has-icon"><i class="icon-repeat"></i>
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Confirm Password">
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign Up Now">
                                    <p class="forget-pass">A verification email wil be sent to you</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Bio modal Charlotte Williams -->
<div class="modal fade" id="modalBio-Charlotte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg bio-modal" role="document">
        <div class="modal-content no-r "><a href="#" data-dismiss="modal" aria-label="Close" class="paper-nav-toggle active"><i></i></a>
            <div class="modal-body no-p">
                <div class="row">
                    <div class="col-lg-12 grid">
                        <div class="p-40">
                            <h5 class="p-t-40">Charlotte Williams</h5>
                            <p>Charlotte is the Group Director of Strategy & New Care Models for the Group. She aims to help make the Mid and South Essex system successful in its aims to provide responsive, high-value care for local people. She loves the NHS and wants to support us all in improvement, innovation and having joy in our work.</p>

                            <p>Charlotte joined the trusts in August 2017 from UCLPartners Academic Health Science Partnership where she was Chief of Staff and Director for Population Health & Place-Based Care, working across discovery science, clinical research, innovation into practice and population health improvement. Charlotte was with UCLPartners for six years and was previously UCLPartners’ Director of Business Development and the founding Executive Director of the London Cancer Integrated Cancer System, which drove major system change in the capital and was the first of its kind in England (now within the Cancer Vanguard).</p>

                            <p>Having recently completed a role with NHS England’s Strategy Group to help write the Next Steps on the Five Year forward View, Charlotte was previously seconded to set up and launch the national NHS New Care Models Programme in January 2015, identifying and supporting Vanguard systems, and remained engaged with the programme’s development and evaluation, leading on to the thinking around accountable care nationally. Charlotte has previously worked with CQC and NHS and local authority partners on strategies for delivering, measuring and regulating integrated provider systems, and headed the Enhanced Health in Care Homes care model in its initial development.</p>

                            <p>Charlotte has previously held senior operational roles in hospitals for 10 years and also takes part in a number of leadership and talent management programmes including helping start the London NHS Women’s Leadership Network, supporting the NHS Graduate Management Training Scheme and alumni networks, and as a learning set facilitator for UCLPartners Primary Care and the Faculty of Medical Leadership and Management. She has experience of public health and acute commissioning, and has undertaken postgraduate study in the UK and New Zealand. She started her professional life as a biochemist studying at Oxford University, with a particular interest in metabolism.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- Bio modal Tony Young -->
<div class="modal fade" id="modalBio-Tony" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg bio-modal" role="document">
        <div class="modal-content no-r "><a href="#" data-dismiss="modal" aria-label="Close" class="paper-nav-toggle active"><i></i></a>
            <div class="modal-body no-p">
                <div class="row">
                    <div class="col-lg-12 grid">
                        <div class="p-40">
                            <h5 class="p-t-40">Tony Young</h5>
                            <p>Tony is a practicing frontline NHS surgeon, Director of Medical Innovation at Anglia Ruskin University, and has founded 4 Med-Tech start-ups. He has also co-founded the £500m Anglia Ruskin MedTech Campus which is set to become one of the world’s largest health innovation spaces.</p>

                            <p>In 2014 he was appointed as National Clinical Director for Innovation at NHS England and in February 2016 became the first National Clinical Lead for Innovation. In this role he provides clinical leadership and support in delivering improved health outcomes in England and drives the uptake of proven innovations across the NHS, promotes economic growth through innovation and helps make the NHS the go place on the planet for medical innovation. In 2015 he founded the NHS Clinical Entrepreneur programme. This has become the world’s largest entrepreneurial workforce development programme for clinicians.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Bio modal Karen Livingston -->
<div class="modal fade" id="modalBio-Karen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg bio-modal" role="document">
        <div class="modal-content no-r "><a href="#" data-dismiss="modal" aria-label="Close" class="paper-nav-toggle active"><i></i></a>
            <div class="modal-body no-p">
                <div class="row">
                    <div class="col-lg-12 grid">
                        <div class="p-40">
                            <h5 class="p-t-40">Karen Livingston</h5>
                            <p>Karen is Director of Partnerships and Industry engagement for the Eastern Academic Health Science Network and the National Director for SBRI Healthcare. As the NHS England National Director for SBRI Healthcare she leads this award winning £74m investment programme where innovative companies developing technology solutions for healthcare problems are funded to accelerate their development cycle. This unique programme has over 200 companies under contract with over 1000 notified innovations and a pipeline independently evaluated at £1.2bn.</p>

                            <p>At Eastern AHSN she is supporting the Network to develop its role in economic development and wealth creation. Working closely with the rich infrastructure of research institutions and innovative companies in the Cambridge area Karen supports the NHS to improve care through the adoption of innovations.</p>

                            <p>Karen has a degree in Political Science from Loughborough followed by a postgraduate health leadership programme at Yale and is currently a fellow at the Judge Institute, Cambridge University.</p>

                            <p>Formerly Director of NHS Midlands and East Karen supported the work of the regional health authority and the Public Health Team to promote closer working across all government. Karen led on relations with Local Government supporting the development of Health and Wellbeing Boards across the Midlands and East Cluster area.</p>

                            <p>A Board member of the East of England Development Agency (EEDA) Karen championed the work of the RDA in business development, communications, and equal opportunities. Karen was also board member of EEIDB, the service provider for Business link in the East of England. The Business Link service provided specialist business advice and support to start ups, SMEs and high growth companies across the region.</p>

                            <p>Before joining the team at the regional health authority Karen worked as a special adviser to the then Secretary of State for Health – Patricia Hewitt MP. With a specific remit to handle media and communications she also had responsibility for managing relationships with national stakeholders representing employer, patient and community interests.</p>

                            <p>Prior to her role in Westminster Karen was a campaigns and communications director for several national Trades Unions, the Labour Party and voluntary sector organisations.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







</div>
<!--End Page page_wrrapper -->
<!-- partial:_scripts.html -->
<!-- partial -->
</body>
</html>