<footer class="footer-bar p-t-0">
    <div class="container">
        <div class="row m-0">
            <div class="col-md-4 footer-content"><a href="index.html" class="brand">
                <img src="assets/img/temp/NHSIdeasLabLogo-website.png" alt="Logo">
                        <ul class="social">
                            <li class="twitter"><a href="#"><i class="icon icon-twitter"></i></a>
                            </li>
                            <li class="facebook"><a href="#"><i class="icon icon-facebook"></i></a>
                            </li>
                            <li class="linkedin"><a href="#"><i class="icon icon-linkedin"></i></a>
                            </li>
                        </ul>            
            </a>
            </div>
            <div class="col-md-4 footer-content">
                <h6>Sponsored by:</h6>
                <img src="assets/img/nhs-ideas-lab/bi-logo-white.png" alt="Logo">
            </div>
            <div class="col-md-4 footer-content p-b-10">
                <h6>Supported by:</h6>
                <img src="assets/img/nhs-ideas-lab/nhs-logo.png" alt="Logo">
            </div>
        </div>
    </div>
    <div class="row paper-white">
        <div class="col-md-6 text-left">
            <p>UK/OTH-171112 Date of preparation: October 2017</p>
        </div> 
        <div class="col-6 text-right">
            <p>&#xA9; 2017 Open Health Works Ltd. <a href="https://github.com/DeckOfPandas/nhs-ideas-lab">Source</a> published under <a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="new">GPL v3</a></p>
        </div>
    </div>
</footer>
<!-- partial:_foot.html -->
<!-- partial -->