<footer class="footer-bar">
    <div class="container">
        <div class="row p-t-0 p-b-10">
            <div class="col-lg-3 col-md-6 col-sm-6 footer-content"><a href="index.html" class="brand">
                <img src="assets/img/basic/NHSIdeasLabLogo-darkbg-265.png" alt="Logo" size="auto">
            </a>
                <ul class="social">
                    <li class="twitter"><a href="https://twitter.com/nhsideaslab"><i class="icon icon-twitter"></i></a>
                    </li>
                    <li class="facebook"><a href="https://www.facebook.com/nhsideaslab"><i class="icon icon-facebook"></i></a>
                    </li>
                    <li class="linkedin"><a href="https://linkedin.com/in/nhsideaslab"><i class="icon icon-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 footer-content">
                <h6>Sponsored by:</h6>
                <img src="assets/img/logos/bi-logo-white.png" alt="Logo" style="width:auto;">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 footer-content p-b-10">
                <h6>Supported by:</h6>
                <img src="assets/img/logos/NHS-England-footer-logo.png" alt="Logo" style="width:auto; padding-top:0px">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 footer-content p-b-10">
                <h6>Policies</h6>
                <ul class="links">
                    <li><a href="termsandconditions.html">Terms and Conditions</a></li>
                    <li><a href="privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="codeofconduct.html">Code of Conduct</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row policy-bar paper-white">
        <div class="col-md-6 footer-content">
            <p>UK/OTH-171112 Date of preparation: October 2017</p>
        </div> 
        <div class="col-6 footer-content">
            <p>&#xA9; 2017 Open Health Works Ltd. <a href="https://github.com/DeckOfPandas/nhs-ideas-lab">Source</a> published under <a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="new">GPL v3</a></p>
        </div>
    </div>
</footer>
<!-- partial:_foot.html -->
<!-- partial -->