<!-- Header -->
<nav class="navbar navbar-default justify-content-between ohw">
  <div class="container relative">
    <div class="row">
      <a class="offcanvas dl-trigger paper-nav-toggle align-middle" type="button" data-toggle="offcanvas" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i></i>
      </a>

      <a class="navbar-brand" href="index.html">
        <img class="d-inline-block align-middle" alt="" src="assets/img/basic/NHSIdeasLabLogo-darkbg-265.png" size="auto">
      </a>
    </div>

    <div class="paper_menu align-middle">
       <!-- partial:_menu.html -->
       <!-- partial -->
    </div>
  </div>
</nav>
