<!-- Header -->
    <nav class="mainnav navbar navbar-default justify-content-between">
       <div class="container relative">
           <a class="offcanvas dl-trigger paper-nav-toggle" type="button" data-toggle="offcanvas"
                   aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <i></i>
           </a>
           <a class="navbar-brand" href="index.html">
               <img class="d-inline-block align-top" alt="" src="assets/img/basic/logo.png">
           </a>
           <div class="paper_menu">
               <!-- partial:_menu.html -->
               <!-- partial -->
           </div>
       </div>
    </nav>