<div id="dl-menu" class="xv-menuwrapper responsive-menu text-uppercase">
    <ul class="dl-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Why</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Mailing list</a></li>
        <li><a href="#modalSignUp" class="btn btn-primary nav-btn" data-toggle="modal"
               data-target="#modalSignUp">Reserve a seat</a>
        </li>
    </ul>
</div>
<!-- Login modal -->