<div id="dl-menu" class="xv-menuwrapper responsive-menu text-uppercase">
    <ul class="dl-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="index.html#whatwhowhy">About</a></li>
        <li><a href="#">Benefits</a></li>
        <li><a href="#">Mentors</a></li>
        <li><a href="#">Supporters</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#modalSignUp" class="btn btn-primary nav-btn" data-toggle="modal"
               data-target="#modalSignUp">Reserve <i class="icon icon-arrow-right"></i></a>
        </li>
    </ul>
</div>
<!-- Login modal -->