<div id="dl-menu" class="xv-menuwrapper responsive-menu text-uppercase">
    <ul class="dl-menu">
        <li><a href="index.html#top">Home</a></li>
        <li><a href="index.html#whatwhowhy">About</a></li>
        <li><a href="index.html#benefits">Benefits</a></li>
        <li><a href="index.html#mentors">Mentors</a></li>
        <li><a href="index.html#supporters">Supporters</a></li>
        <li><a href="index.html#faqs">FAQs</a></li>
        <li><a href="index.html#contactform">Contact us</a></li>
        <li><a href="https://ti.to/nhs-ideas-lab/2017" target="new" class="btn btn-primary nav-btn">Book <i class="icon icon-arrow-right"></i></a>
        </li>
    </ul>
</div>
<!-- Login modal -->