/*----------------------- OHW ----------------------*/
@import "_ohwvariables";
@import url('https://fonts.googleapis.com/css?family=Oswald');

.navbar {
  font-family: 'Lato', sans-serif;
  background-color: $background-black !important;

  .xv-menuwrapper .dl-menu > li > a {
    font-weight: bold !important;
    font-size: 14px !important;
    color: $nav-title;
    padding: 0 5px;
  }
  .xv-menuwrapper .dl-menu > li > .btn {
    background-color: $contrast-1 !important;
  }
}

.badge {
  font-family: 'Lato', sans-serif !important;
}

.badge-success {
  font-weight: bold !important;
  background-color: $bright !important;
}

.btn-primary {
  font-family: 'Lato', sans-serif;
  font-weight: light !important;
  color: white !important;
  background-color: $contrast-1 !important;
  letter-spacing: 3px;  
}

.hero-video {
  h1 {
    font-family: 'Oswald', sans-serif !important;
    font-weight: lighter !important;
    font-size: 1em;
    line-height: 1.3em;
  }
  h3, h4 {
    font-family: 'Lato', sans-serif !important;
  }
  h3 {
    color: white !important;    
    font-weight: 300 !important;
    padding: 20px 0 20px 0;
    text-align: left;
    font-size: 2em;
  }
  h4 {
    font-weight: 700 !important;
    color: $title-3 !important; 
    font-size: 2.5em;   
  }
}

.counter > div {
  font-family: 'Oswald', sans-serif !important;
  font-weight: lighter !important;
  color: white;
  background-color: $title-1 !important; 
  text-transform: uppercase;
}

.service-blocks {
h1 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  color: $title-1;
  font-size: 3em;
  line-height: 0em;
  letter-spacing: 0px;
  .big-name-words {
    font-weight: 400;
    font-size: 1.5em;
  }
  .big-name-bracket {
    vertical-align: top;
    color: $link !important;
    font-weight: 200;
    font-size: 3em;
  }
}
 
  h2 {
    font-family: 'Oswald', sans-serif !important;
    font-size: 36px;
    font-weight: 500 !important;
    color: $title-1;    
  }
  .service-block .service-content {
    h3 {
      font-family: 'Lato', sans-serif !important;
      font-size: 17px;
      font-weight: 500 !important;
      color: $title-4;
      text-transform: uppercase;
      letter-spacing: 2px;
    }  
  }
  p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: $body-normal !important;   
    font-size: 1.2em;
    line-height: 1.15em;
  }
  a {
    color: $link;
    font-family: 'Lato', sans-serif !important;
    font-weight: 900 !important;
    &:hover {
      color: $link-hover;
    }
  }
  .service-block .service-icon i {
      color: $title-1;
  }

  .btn-primary {
    text-transform: uppercase;
  }
}

.testimonial {
  background-color: white !important;
  padding: 0 20px 60px 20px;
  h1 {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    color: $title-1;
    font-size: 2em;
    line-height: 0em;
    letter-spacing: 0px;
  }
  a {
    color: $link;
    font-weight: normal;
    &:hover {
      color: $link-hover;
    }
  }
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $body-normal;   
    font-size: 0.8em;
    line-height: 1.5em;
  }
  h5 {
    color: $title-4;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  .paper-block {
    background-color: $background-lightest !important;
  }
}

.supporters {
  background-color: white !important;
  h1 {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    color: $title-1;
  }  
}

.faq {
  background-color: $title-1;
  h1 {
    color: white;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    font-size: 3em;
    line-height: 0em;
    letter-spacing: 0px;
  }
  h2 {
    color: $title-3;
    font-family: 'Oswald', sans-serif !important;
    font-size: 28px;
    font-weight: 500 !important;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 2em;
  }
  .accordion {
    padding: 5px 5px 40px 5px;
  }
  .card-header {
    a {
      color: $link;
      font-family: 'Lato', sans-serif !important;
      font-size: 1em;
      font-weight: 500 !important;
      text-transform: uppercase;
      letter-spacing: 2px;      
    }
  }
  .card-block {
    padding: 10px 20px;
    background-color: $background-lightest;
    p, li {
      font-family: 'Lato', sans-serif !important;
      color: $body-darker;
      font-size: 1.1em;      
      line-height: 1.5em;   
    }
    li {
      line-height: 2em;
    }
    a {
      color: $link;
      font-family: 'Lato', sans-serif !important;
      font-weight: 900 !important;
      &:hover {
        color: $link-hover;
      }
    }
  }
}

.contact {
   background-color: $background-lightest;  
   h1 {
    color: $title-1;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    font-size: 3em;
    line-height: 0em;
    letter-spacing: 0px;
  }
}

.bright {
  background-color: $bright !important;
  text-transform: uppercase;
}
.newsletter {
  background-color: $background-mid !important;
   h1 {
    color: $title-2;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    font-size: 3em;
    line-height: 0em;
    letter-spacing: 0px;
  }  
  h2 {
    color: $title-4;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400 !important;
    letter-spacing: -1px;    
  }
  p {
    font-family: 'Lato', sans-serif !important;    
    font-weight: 400 !important;
    color: $body-normal;
    font-size: 1.2em;
  }
}

.iconList {
  margin-left: 20px;
}

footer {
  padding: 0 0 0 0;
}

footer .brand img {
  padding: 20px 0 0 0;
  vertical-align: middle !important;
}

footer .social { 
  padding: 0 10px 0 10px;
  li {
    margin: 5px 10px;
  }
}

.footer-bar {
  background-color: $background-black !important;
  h6 {
    font-family: 'Lato', sans-serif !important;    
    text-transform: uppercase;    
    font-size: 1.2em;
    color: $nav-title;
    padding: 50px 0 10px 0;
  }
  p {
    padding: 10px 20px;
    font-weight: 300 !important;
    color: $body-normal;
    a {
      color: $link;
      &:hover {
        color: $link-hover;
      }
    }
  }
  img {
    padding: 20px 0 0 0;
    vertical-align: middle;
  }
  .footer-content {
    text-align: center;
    vertical-align: middle;
    img {
      padding: 0 0 0 0;
    }
  }

  .links > li > a {
    display: inline-block;
    color: $link;
    font-family: 'Lato', sans-serif !important;
    font-weight: 900 !important;
    padding: 5px;
    &:hover {
      color: $link-hover;
    }
  }
}
 
ul.iconList li:before {
  color: $title-1;
 }

.container {
  z-index: -1;
} 

.section-heading-icon {
    background: none;
  }

.policy {
   h1 {
    color: $title-3 !important;
    font-family: 'Oswald', sans-serif !important !important;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 0px;
  }      
  h3 {
    font-family: 'Lato', sans-serif !important;
    font-size: 2.5em;
    line-height: 3em;
    font-weight: 500 !important;
    color: $title-4;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h6 {
    padding: 20px 0 10px 0;
    font-family: 'Lato', sans-serif !important;
    font-size: 1.5em;
    font-weight: 500 !important;
    color: $title-4;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  p, ul > li {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: $body-normal !important;   
    font-size: 1.2em;
    line-height: 1.5em;
  }
  a {
    color: $link;
    font-family: 'Lato', sans-serif !important;
    font-weight: 900 !important;
    &:hover {
      color: $link-hover;
    }
  }
}